/* Coolors Exported Palette - coolors.co/00933f-364a05-80b21d-55cb75-ffec02 */

/* HSL */
$color1: hsla(146%, 100%, 29%, 1);
$color2: hsla(77%, 87%, 15%, 1);
$color3: hsla(80%, 72%, 41%, 1);
$color4: hsla(136%, 53%, 56%, 1);
$color5: hsla(55%, 100%, 50%, 1);

/* RGB */
$color1: rgba(0, 147, 63, 1);
$color2: rgba(54, 74, 5, 1);
$color3: rgba(128, 178, 29, 1);
$color4: rgba(85, 203, 117, 1);
$color5: rgba(255, 236, 2, 1);


//otro

/* Coolors Exported Palette - coolors.co/c2c1bf-656362-35af0c-f8f260-0b650e */

/* HSL */
$color1: hsla(40%, 2%, 75%, 1);
$color2: hsla(20%, 2%, 39%, 1);
$color3: hsla(105%, 87%, 37%, 1);
$color4: hsla(58%, 92%, 67%, 1);
$color5: hsla(122%, 80%, 22%, 1);

/* RGB */
$color1: rgba(194, 193, 191, 1);
$color2: rgba(101, 99, 98, 1);
$color3: rgba(53, 175, 12, 1);
$color4: rgba(248, 242, 96, 1);
$color5: rgba(11, 101, 14, 1);