@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=K2D");
@import url("../css/bootstrap.min.css");
@import url("../css/font-size.css");
@import url("../css/normalize.css");
@import url("../css/animaciones.css");
@import url("../css/barra-scroll.css");
/* Generales ------------------------------------------------------ */

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(255, 255, 255, 0.5) url(../img/load.gif) no-repeat center center fixed;
}

body {
  font-family: "K2D", sans-serif;
  /* text-shadow: 1px 1px black; */
  color: white;
}

h1 h2 h3 h4 h5 h6 {
  color: #00933F;
}

p {
  margin: 0;
  position: relative;
  z-index: 1;
}

i {
  color: #00933F;
}

i:hover {
  color: rgb(229, 255, 0);
  transition-duration: .3s;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.tarjeta {
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: white;
  padding: 1em 0.3em;
  margin-bottom: 1em;
}

.tarjeta2 {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 1px solid #adadad;
  background-color: white;
  transition-duration: .3s;
  height: 450px;
}

.tarjeta2:hover {
  -webkit-box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  -moz-box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  border: 3px solid #cccccc28;
  background-color: #06E0FA;
  transition-duration: .3s;
}

.tarjeta3 {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: rgba(80, 116, 177, 0.788);
  color: white;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  padding: 1em 0.3em;
  margin-bottom: 1em;
  max-width: 1000px;
}

/* NAVBAR */

header li {
  margin-right: 0.4rem;
}

header a {
  color: #fff;
  font-size: 1.1em;
}

header a:hover {
  color: rgba(255, 236, 2, 1);
  transition-duration: 0.3s;
}

header .navbar-brand {
  font-size: 1.5rem;
  text-transform: uppercase;
}

header .bg-nav-menu {
  background-color: rgba(11, 101, 14, 0.5);
}

.fas.fa-bars {
  color: white !important;
}

/* FIN NAVBAR */

/* MAIN */

#main {
  height: 100vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 0);
}

.bg-index {
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/index/fondo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.sancipriano {
  text-transform: uppercase;
}

.logo-index {
  height: 20% !important;
}

.btn-contacto {
  background-color: rgba(0, 147, 63, 1) !important;
  color: #fff;
}

.btn-contacto:hover {
  background-color: rgba(85, 203, 117, 1) !important;
}

.flecha-abajo a i {
  text-align: center;
  position: relative;
  bottom: 55px;
  font-size: 38px;
  color: #fff;
  animation-duration: 2s;
  animation-delay: .3s;
  z-index: 1;
}

/* FIN MAIN */

/* Footer */

#footer {
  background-color: white;
  color: black !important;
  padding-top: 1em;
  padding-bottom: 15px;
}

.footer {
  background-color: rgb(201, 201, 201);
}

#footer i:hover {
  color: rgba(30, 255, 0, 0.719);
  transition-duration: 0.3s;
}

/* FIN Footer */

.title {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
  font-size: 2rem !important;
}

.title2 {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
  font-size: 1.7rem !important;
}

.green {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.galery_container {
  padding: 0 15px;
}

#emprendimiento {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}

#video_index {
  padding-top: 10px !important;
}

/* FIN Generales */

#img_twitter {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

#comentarios {
  background-image: url(/img/index/facebook-box-1334045_640.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 543px;
}

.fb-comments {
  background-color: #f8f9fa !important;
  border-radius: 5px;
  max-width: 400px !important;
}

/* Biodiversidad index.html */

#biodiversidad {
  margin-top: 5em;
  background-color: white;
  padding-bottom: 2em;
  position: relative;
  padding-top: 5em;
}

.cabecita2 {
  height: 180px;
  width: 180px;
  position: absolute;
  top: -90px;
}

/* FIN Biodiversidad */

/* Gastronomia index.html*/

#gastronomia {
  position: relative;
  background-color: white;
  margin-bottom: 2em;
  margin-top: 5em;
}

#parallax1 {
  background-image: url(../img/index/gastronomia.jpg);
  opacity: .6;
  background-size: auto 150vh;
  background-position: center center;
  height: 400px;
  position: relative;
}

.contenido-parallax {
  top: 0;
  position: absolute;
  height: 400px;
  color: white;
}

/* FIN Gastronomia */

/* Cultura del paficio index.html */

#cultura {
  position: relative;
  background-color: white;
  margin-bottom: 2em;
  margin-top: 5em;
}

#parallax2 {
  background-image: url(../img/index/cultura.jpg);
  opacity: .6;
  background-size: auto 150vh;
  background-position: center center;
  height: 400px;
  position: relative;
}

/* FIN Cultura */

#mapa {
  filter: brightness(0.6);
  transition-duration: 0.6s;
  padding-top: 10px !important;
}

#mapa:hover {
  transition-duration: 0.6s;
  filter: brightness(1);
}

#escrito {
  min-height: 400px;
}

#facebook-container {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  background-color: white;
}

/* END Index.html -------------------------------------------------- */

/* alianzas.html -------------------------------------------------- */

.alianza {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0.5px solid #ccc;
  background-color: white;
  transition-duration: 0.3s;
  color: #b700ff;
  margin-top: 3em;
  margin-bottom: 1em;
}

.cabecita {
  width: 100px;
  height: 70px;
  position: relative;
  top: -35px;
}

.botoncito {
  position: relative;
  bottom: -20px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  font-weight: 600;
}

.botoncito:hover {
  color: rgba(255, 236, 2, 1);
}

.au {
  /* Son los iconos de servicios que ofrece el establecimiento comercial */
  /* Esta vaina es de los elementos "<i>" de alianza.html */
  background-color: #ffffff;
  border-radius: 10%;
  height: 1.2em;
  width: 1.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}

section>a>img {
  /* esto controla el tamaño de las imagenes del modal */
  object-fit: cover;
  width: 130px;
  height: 130px !important;
  filter: blur(0px);
  opacity: 1;
  transition-duration: .5s;
  cursor: pointer;
}

section>a>img:hover {
  filter: blur(2px);
  opacity: .7;
  transition-duration: .5s;
}

.alianza:hover {
  -webkit-box-shadow: 0px 0px 20px 0px yellow;
  -moz-box-shadow: 0px 0px 20px 0px yellow;
  box-shadow: 0px 0px 20px 0px yellow;
  background-color: rgb(123, 255, 0);
  transition-duration: .3s;
}

.alianza:hover h4 {
  color: rgb(0, 119, 255);
  text-shadow: 1px 1px rgb(255, 255, 255);
}

/* FIN Alianzas -------------------------------------------------- */

/* nosotros.html --------------------------------------------------*/

.nosotros {
  background-image: url(../img/nosotros/nosotros.jpg);
  background-color: #0DE3FA;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#intro {
  height: 85vh;
  position: relative;
}

#logo-acerca {
  height: 30vw;
  min-width: 250px;
  min-height: 250px;
}

#quienes {
  height: 100vh;
  color: black;
  font-size: 1.3em;
  position: relative;
}

#vision {
  position: relative;
  height: 50vh;
  background-color: greenyellow;
}

#mision {
  position: relative;
  height: 50vh;
  background-color: #FFEF00;
}

#directivos {
  position: relative;
  background-size: cover;
  background-position: center center;
}

.img_adaptada2 {
  object-fit: cover;
  height: 200px !important;
  width: 150px !important;
  transition-duration: .5s;
  margin: auto;
  border: solid white 2px;
}

.img_adaptada2:hover {
  filter: blur(0px);
  opacity: 1;
  transition-duration: .5s;
  transform: scale(1.1);
}

.color {
  background-color: #0de3fa;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.color2 {
  background-color: #009000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.tarjeta4 {
  -webkit-clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%, 20% 0);
  clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%, 20% 0);
  background-color: #009100;
  color: rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  z-index: -1;
  padding: .3em 3em;
  margin: .5em 0em;
}

/* FIN nosotros.html -------------------------------------------------- */

/* Turismo --------------------------------------------- */

.turismo {
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/turismo/turismo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-y;
  /* background-attachment: fixed; */
}

.tarjeta6 {
  height: 150px;
  width: 150px;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: green;
  color: white;
  position: relative;
  padding: .3em 3em;
  margin: .5em 0em;
  text-decoration: none !important;
  transition-duration: .5s;
}

.tarjeta6:hover {
  color: black;
  background-color: greenyellow;
  text-decoration: none !important;
  transition-duration: .5s;
}

#contenido_turismo1 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo2 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo3 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo4 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo5 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo6 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo7 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo8 {
  color: black;
  min-height: 50vh;
}

#contenido_turismo9 {
  color: black;
  min-height: 50vh;
}

.img_adaptada {
  object-fit: cover;
  height: 150px !important;
  width: 250px !important;
  filter: blur(1.2px);
  opacity: .7;
  transition-duration: .5s;
  margin: 0;
}

.img_adaptada:hover {
  filter: blur(0px);
  opacity: 1;
  transition-duration: .5s;
  transform: scale(1.1);
}

/* Turismo --------------------------------------------- */

/* Gastroomia */

.gastronomy {
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/gastronomia/fondo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#info_gastronomy {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 2px rgba(0, 0, 0, 0);
}

.tarjeta5 {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 3px;
}

/**AMDMINISTRADOR*/

/**NOTICIAS*/

.noticias {
  color: #000 !important;
  text-align: center;
}

.myImage {
  /* max-width: 100px;
  max-height: 100px; */
  /* object-fit: cover */
}

#lista-noticias{
  background-color: #e8e8e8;
}

/*Opaco la imagen*/
.img-carousel-index{
  height: 300px !important;
  background-color: rgba(0,0,0,0.8);
  filter:brightness(0.4);

}
