@import url('https://fonts.googleapis.com/css?family=K2D');

body {
  background: white;
  font-family: 'K2D', sans-serif;
  font-size: 19px;
}
.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(255, 255, 255, 0.5) url(../img/load.gif) no-repeat center center;
}

.bg-index {
  min-height: 100vh;
  background-image: url(../img/bg2.jpg);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-alainza {
  min-height: 100vh;
  background-image: url(../img/bg1.jpg);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.3);
}

header {
  background-color: transparent;
}

header li {
  margin-right: 0.4rem;
}

header .navbar-brand {
  font-size: 2rem;
}

header .navbar-brand:hover {
  margin-left: 20px;
  transition: margin-left 0.5s;
}

header a {
  color: #fff;
  font-size: 1rem;
}

header a:hover {
  color: #e8e8e8;
  transition: color 0.5s;
}

.fas.fa-bars {
  color: white !important;
}

.flecha-abajo a i {
  text-align: center;
  position: absolute;
  bottom: 25px;
  font-size: 38px;
  color: #fff;
}

#servicios {
  background: rgb(163, 255, 151);
  /* min-height: 100vh; */
}

#nosotros {
  padding-top: 1em;
  padding-bottom: 15px;
  /* min-height: 100vh; */
}

#politica {
  padding-top: 1em;
  padding-bottom: 15px;
  /* min-height: 100vh; */
}

#footer {
  background: #e9ecef;
  padding-top: 2em;
}

#derechos {
  background-color: #d8d8d8;
  padding-top: 1em;
  padding-bottom: 15px;
}

p {
  margin: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.alianza {
  border: 8px solid #000000;
}

i{
  color: black;
}

.au{
  border: solid 2px black;
  border-radius: 10%;
  padding: 1px;
  height: 44px;
  width: 44px;
  display: inline-flex;
  justify-content: center;
}