@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=K2D");
@import url("../css/bootstrap.min.css");
@import url("../css/font-size.css");
@import url("../css/normalize.css");
@import url("../css/animaciones.css");
@import url("../css/barra-scroll.css");
/* Generales ------------------------------------------------------ */

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(255, 255, 255, 0.5) url(../img/load.gif) no-repeat center center fixed;
}

body {
  font-family: "K2D", sans-serif;
  /* text-shadow: 1px 1px black; */
  color: white;
}

h1 h2 h3 h4 h5 h6 {
  color: #00933F;
}

p {
  margin: 0;
  position: relative;
  z-index: 1;
}

i {
  color: #00933F;
}

i:hover {
  color: rgb(229, 255, 0);
  transition-duration: .3s;
}

hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* NAVBAR */

header li {
  margin-right: 0.4rem;
}

header a {
  color: #fff;
  font-size: 1.1em;
}

header a:hover {
  color: rgba(255, 236, 2, 1);
  transition-duration: 0.3s;
}

header .navbar-brand {
  font-size: 2rem;
  text-transform: uppercase;
}

header .bg-nav-menu {
  background-color: rgba(11, 101, 14, 0.5);
}

.fas.fa-bars {
  color: white !important;
}

/* FIN NAVBAR */

/* MAIN */

#main {
  height: 100vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 0);
}

.bg-index {
  min-height: 100%;
  min-width: 100%;
  background-image: url(../img/fondo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.overlay {
  color: #fff;
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

.sancipriano {
  text-transform: uppercase;
}

.logo-index {
  height: 20% !important;
}

.btn-contacto {
  background-color: rgba(0, 147, 63, 1) !important;
  color: #fff;
}

.btn-contacto:hover {
  background-color: rgba(85, 203, 117, 1) !important;
}

.flecha-abajo a i {
  text-align: center;
  position: absolute;
  bottom: 25px;
  font-size: 38px;
  color: #fff;
  animation-duration: 2s;
  animation-delay: .3s;
}

/* FIN MAIN */

/* Footer */

#footer {
  background-color: #315700;
  color: white;
  padding-top: 1em;
  padding-bottom: 15px;
}

.footer {
  background-color: #008E00;
}

#footer, .footer i {
  color: white;
}

#footer i:hover {
  color: #FFEE00;
  transition-duration: 0.3s;
}

/* FIN Footer */

.title {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
  font-size: 2.5rem !important;
}

.title2 {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
  font-size: 2rem !important;
}

.green {
  color: rgba(0, 147, 63, 1);
  text-shadow: 2px 2px rgb(229, 255, 0);
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* FIN Generales */

/* Index.html ------------------------------------------------------ */

/* Biodiversidad index.html */

#biodiversidad {
  margin-top: 5em;
  background-color: #212020;
  padding-bottom: 2em;
  position: relative;
  padding-top: 5em;
}

.cabecita2 {
  height: 180px;
  width: 180px;
  position: absolute;
  top: -90px;
}

/* FIN Biodiversidad */

/* Gastronomia index.html*/

#gastronomia {
  position: relative;
  background-color: white;
  margin-bottom: 2em;
  margin-top: 5em;
}

#parallax1 {
  background-image: url(../img/gastronomia.jpg);
  opacity: .6;
  background-size: auto 150vh;
  background-position: center center;
  height: 400px;
  position: relative;
}

.contenido-parallax {
  top: 0;
  position: absolute;
  height: 400px;
  color: white;
}

/* FIN Gastronomia */

/* Cultura del paficio index.html */

#cultura {
  position: relative;
  background-color: white;
  margin-bottom: 2em;
  margin-top: 5em;
}

#parallax2 {
  background-image: url(../img/cultura.jpg);
  opacity: .6;
  background-size: auto 150vh;
  background-position: center center;
  height: 400px;
  position: relative;
}

/* FIN Cultura */

#mapa {
  filter: brightness(0.6);
  transition-duration: 0.6s;
  padding-top: 10px !important;
}

#mapa:hover {
  transition-duration: 0.6s;
  filter: brightness(1);
}

#escrito {
  min-height: 400px;
}

#facebook-container {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
  background-color: white;
}

/* END Index.html -------------------------------------------------- */

/* alianzas.html -------------------------------------------------- */

.bg-alainza {
  min-height: 50vh;
  background-image: url(../img/bg1.jpg);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* alianzas.html -------------------------------------------------- */

/* Politica.html -------------------------------------------------- */

#politica {
  padding-top: 1em;
  padding-bottom: 15px;
  /* min-height: 100vh; */
}

/* FIN Politica.html -------------------------------------------------- */

.tarjeta {
  -webkit-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: white;
  padding: 1em 0.3em;
  margin-bottom: 1em;
}

.tarjeta2 {
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 3px solid #adadad;
  background-color: white;
  transition-duration: .3s;
  height: 400px;
}

.tarjeta2:hover {
  -webkit-box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  -moz-box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  box-shadow: 0px 0px 52px -14px rgba(0, 238, 255, 1);
  border: 3px solid #cccccc28;
  background-color: #06E0FA;
  transition-duration: .3s;
}

.tarjeta3 {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 3px solid #adadad;
  background-color: white;
  margin: 0.5em;
  transition-duration: .3s;
  position: relative;
}

.tarjeta3 img {
  margin: 1em 0;
}

.tarjeta3 p {
  margin-bottom: 1em;
}

.carousel-inner img {
  max-height: 350px;
}

/* Alianzas.html -------------------------------------------------- */

.alianza {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0.5px solid #ccc;
  background-color: white;
  transition-duration: 0.3s;
  color: #b700ff;
  margin-top: 3em;
  margin-bottom: 1em;
}

.cabecita {
  width: 100px;
  height: 70px;
  position: relative;
  top: -35px;
}

.botoncito {
  position: relative;
  bottom: -20px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  font-weight: 600;
}

.botoncito:hover {
  color: rgba(255, 236, 2, 1);
}

.au {
  /* Esta vaina es de los elementos "i" de alianza.html */
  background-color: #ffffff;
  border-radius: 10%;
  height: 1.2em;
  width: 1.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}

section>a>img {
  /* esto controla el tamaño de las imagenes del modal */
  width: 90px;
}

.alianza:hover {
  -webkit-box-shadow: 0px 0px 20px 0px yellow;
  -moz-box-shadow: 0px 0px 20px 0px yellow;
  box-shadow: 0px 0px 20px 0px yellow;
  background-color: rgb(123, 255, 0);
  transition-duration: .3s;
}

.alianza:hover h4 {
  color: rgb(0, 119, 255);
  text-shadow: 1px 1px rgb(255, 255, 255);
}

/* FIN Alianzas -------------------------------------------------- */

/* nosotros.html --------------------------------------------------*/

#intro {
  background-image: url(../img/f0680059baac2009af434dcdf67f31ba.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  height: 80vh;
}

#logo-acerca {
  height: 30vw;
}

#quienes {
  height: 100vh;
  color: black;
  font-size: 1.3em;
  position: relative;
}
#mision_vision {
  height: 100vh;
}

.color {
  background-color: #0de3fa;
  position: absolute;
  width: 100%;
  height: 100%;
}
.color2 {
  background-color: #009000;
  position: absolute;
  width: 100%;
  height: 100%;
}


/* FIN nosotros.html -------------------------------------------------- */